.place-item {
    margin: 1rem 1rem;
    width: 40%;
    height: 40%;
    display: inline-block;
  }
  
  .place-item__content {
    padding: 0;
  }
  
  .place-item__info {
    padding: 0 1rem 1rem 1rem;
    text-align :left;
    line-height: 1.5;
    height: 6rem;
  }
  
  .place-item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
  }
  
  .place-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .place-item__info h2,
  .place-item__info h3,
  .place-item__info p {
    margin: 0 0 0.5rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
  /* .place-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  } */
  .place-item__actions{
    text-align: right;
    padding: 0;
    margin : 0;
  }
  
  .place-item__modal-content {
    padding: 0;
  }
  
  .place-item__modal-actions {
    text-align: right;
  }
  
  /* .place-item__actions button,
  .place-item__actions a {
    margin: 0.5rem;
  }
   */
  
  
  @media (min-width: 768px) {
    .place-item__image {
      height: 20rem;
    }
  }
  
  .map-container {
    height: 10rem;
    width: 100%;
  }
  
  