.top_container {
  /* background-color: #dbf6e9; */
  background-color: transparent;
  background-size: 100% 100%;
  position: relative;
  margin: 0 auto 0;
  padding-top: 2rem;
  height: calc(70vh - 4rem);
  width: 85%;
}

.middle_container {
  position: relative;
  background-color: transparent;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  background-color: #d1f1e2;
  height: 10vh;
}

.hr_dotted {
  border: 0;
  border-top: 6px dotted lightgray;
  width: 8%;
  margin: 100px auto;
}

.hr_normal {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.title {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  color: #007580;
  line-height: 1;
}

.title_description {
  font-family: "New Tegomin", serif;
  font-size: 1rem;
  color: #069caa;
  font-weight: lighter;
  line-height: 1;
}
.title_like {
  padding: 0.5rem;  
  background-color: #0ab7c7;
  color: #ffffff;
  width: 4rem;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
}
.title_like.is_liked{
  color: #ff0000;
}
.title_like span {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #007580;
}
.title_like:hover {
  background-color: #b1f6fd;
  /* transform: scale(1.3); */
  -webkit-transition: background-color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  /* transition: transform 100ms ease; */
}
.title_like:active{
  transform: scale(1.4);
  transition: transform 100ms ease;
}
.title_like.zoom {
  animation: zoom-in-zoom-out 500ms;
}
@keyframes zoom-in-zoom-out {
  0% {
  transform: scale(1, 1);
  }
  50% {
  transform: scale(1.4, 1.4);
  }
  100% {
  transform: scale(1, 1);
  }
  }
  
  
/* @keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
} */

.slider_season {
  height: 300px;
  margin: 30px;
  float: left;
  margin-left: 20rem;
  display: inline;
  background-color: black;
}

.title_sub1 {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  color: #8ac4d0;
  line-height: 1;
}
.title_sub2 {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #31326f;
  line-height: 1;
}
.title_sub3 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #40514e;
  line-height: 1.5;
}
.textviewer {
  margin: 0 auto 100px auto;
  width: 30%;
}

.img_profile {
  width: 12rem;
  height: 13rem;
  border-radius: 100%;
}

.img_round {
  border-radius: 100%;
}

.icon_left {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.icon_right {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.azaditurm {
  position: absolute;
  left: 0;
  /* top: 63%; */
  /* transform: translate(-50%, -50%); */
  margin: 0 auto;
  width: 60%;
  bottom: 50%;
  z-index: 2;
}

.brandenburg {
  position: absolute;
  right: 0;
  /* top: 62%; */
  margin: 0 auto;
  width: 50%;
  bottom: 48%;
  z-index: 2;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sonne {
  position: absolute;
  top: 50%;
  right: 40%;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0%0D%0Ab3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZl%0D%0AcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8v%0D%0ARFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQv%0D%0Ac3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDov%0D%0AL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5%0D%0AL3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDQ3NC40MzggNDc0LjQzOCIg%0D%0Ac3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDc0LjQzOCA0NzQuNDM4OyIgeG1sOnNw%0D%0AYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBkPSJNMjM2Ljc2NCw2MS41NTdjNi4xMzUtMTEu%0D%0ANTA0LDE2LjgzMy0yMi41NjMsMjcuOTctMzEuOTg2Yy02LjExNy05Ljk0My0xMi4yMy0xOC40MzQt%0D%0AMTYuMDM1LTIzLjI2Mw0KCQlDMjQ1LjQ5MiwyLjI0MSwyNDEuNDE0LDAsMjM3LjIyLDBjLTQuMTk2%0D%0ALDAtOC4yNzIsMi4yNDEtMTEuNDc5LDYuMzA4Yy0zLjg5MSw0Ljk0NC0xMC4xOTQsMTMuNzI1LTE2%0D%0ALjQ0OSwyMy45NjQNCgkJQzIyMC4yMzcsMzkuNTE2LDIzMC42OTIsNTAuMzEyLDIzNi43NjQsNjEu%0D%0ANTU3eiIvPg0KCTxwYXRoIGQ9Ik02MS41NTcsMjM3LjY3M0M1MC4wNTYsMjMxLjU0LDM5LDIyMC44%0D%0ANDcsMjkuNTgsMjA5LjcxNGMtOS45NDMsNi4xMTYtMTguNDQsMTIuMjI1LTIzLjI3NCwxNi4wMjkN%0D%0ACgkJQzIuMjQxLDIyOC45NDcsMCwyMzMuMDIzLDAsMjM3LjIxOXMyLjI0LDguMjcyLDYuMzA5LDEx%0D%0ALjQ3OWM0Ljk0NCwzLjg5MiwxMy43MjUsMTAuMTk0LDIzLjk2NCwxNi40NDkNCgkJQzM5LjUxNiwy%0D%0ANTQuMjAxLDUwLjMxMSwyNDMuNzQ2LDYxLjU1NywyMzcuNjczeiIvPg0KCTxwYXRoIGQ9Ik0zODgu%0D%0AMzc1LDEwOS4yMjhjNS4wMTgsMCwxMC4xMDMsMC4yNTksMTUuMTAyLDAuNjg1YzIuNzE2LTExLjM4%0D%0AMSw0LjQxLTIxLjczOCw1LjE0LTI3Ljg1OA0KCQljMC41NzEtNC44MjktMC41NTgtOS4xMTYtMy4x%0D%0ANzktMTIuMDY1Yy0yLjUwNy0yLjgyMS02LjE3OC00LjMxMy0xMC42MTUtNC4zMTNjLTAuNzkzLDAt%0D%0AMS42MTQsMC4wNS0yLjQ0MiwwLjE0OA0KCQljLTYuMjQ3LDAuNzQ1LTE2LjkxMiwyLjQ5Ni0yOC41%0D%0ANzQsNS4zMTNjMS4yMDQsMTQuMjc0LDAuOTYzLDI5LjI5OS0yLjY5NCw0MS41NDRDMzY4LjY1NCwx%0D%0AMTAuMzg4LDM3Ny43OTMsMTA5LjIyOCwzODguMzc1LDEwOS4yMjgNCgkJeiIvPg0KCTxwYXRoIGQ9%0D%0AIk00NjguMTI5LDIyNS43NDFjLTQuOTQ0LTMuODkyLTEzLjcyNS0xMC4xOTUtMjMuOTY1LTE2LjQ0%0D%0AOWMtOS4yNDIsMTAuOTQ2LTIwLjAzNywyMS40LTMxLjI4MiwyNy40NzMNCgkJYzExLjUsNi4xMzQs%0D%0AMjIuNTU2LDE2LjgyOCwzMS45NzYsMjcuOTZjOS45NDMtNi4xMTYsMTguNDQtMTIuMjI1LDIzLjI3%0D%0ANC0xNi4wM2M0LjA2NC0zLjIwNCw2LjMwNS03LjI4LDYuMzA1LTExLjQ3NQ0KCQlDNDc0LjQzOCwy%0D%0AMzMuMDI0LDQ3Mi4xOTcsMjI4Ljk0Nyw0NjguMTI5LDIyNS43NDF6Ii8+DQoJPHBhdGggZD0iTTQw%0D%0AMy4yODQsMzYzLjc0Yy00Ljk3MywwLjQyOS0xMC4wMjYsMC42OS0xNS4wMDUsMC42OWMtMTAuMjcz%0D%0ALDAtMTkuMTUtMS4xMzYtMjYuNTMyLTMuMzQ0DQoJCWMzLjgwMSwxMi40NzQsNC4wNTgsMjcuODY0%0D%0ALDIuODQ2LDQyLjQwN2MxMS4zNTUsMi43MDcsMjEuNjg0LDQuMzk1LDI3Ljc5Miw1LjEyM2MwLjgy%0D%0AMywwLjA5OCwxLjY0NiwwLjE0NywyLjQzOSwwLjE0Nw0KCQljNC40MzYsMCw4LjEwNS0xLjQ5MSwx%0D%0AMC42MTItNC4zMTJjMi42MjEtMi45NSwzLjc1LTcuMjM2LDMuMTc4LTEyLjA2OUM0MDcuODY4LDM4%0D%0ANi4xMjEsNDA2LjExMSwzNzUuNDI4LDQwMy4yODQsMzYzLjc0eiIvPg0KCTxwYXRoIGQ9Ik0yMzcu%0D%0ANjczLDQxMi44ODJjLTYuMTMzLDExLjUtMTYuODI2LDIyLjU1Ni0yNy45NTksMzEuOTc2YzYuMTE1%0D%0ALDkuOTQ0LDEyLjIyNSwxOC40NCwxNi4wMjksMjMuMjc0DQoJCWMzLjIwNCw0LjA2NSw3LjI4LDYu%0D%0AMzA1LDExLjQ3NSw2LjMwNWM0LjE5NiwwLDguMjczLTIuMjQxLDExLjQ4MS02LjMwOWMzLjg5MS00%0D%0ALjk0MywxMC4xOTMtMTMuNzI0LDE2LjQ0Ny0yMy45NjINCgkJQzI1NC4yMDEsNDM0LjkyMywyNDMu%0D%0ANzQ2LDQyNC4xMjcsMjM3LjY3Myw0MTIuODgyeiIvPg0KCTxwYXRoIGQ9Ik0yMzcuMjE5LDEwOS43%0D%0AMjZjLTcwLjMsMC0xMjcuNDkzLDU3LjE5My0xMjcuNDkzLDEyNy40OTNjMCw3MC4zLDU3LjE5Mywx%0D%0AMjcuNDk0LDEyNy40OTMsMTI3LjQ5NA0KCQljNzAuMzAxLDAsMTI3LjQ5NC01Ny4xOTQsMTI3LjQ5%0D%0ANC0xMjcuNDk0QzM2NC43MTMsMTY2LjkxOSwzMDcuNTIsMTA5LjcyNiwyMzcuMjE5LDEwOS43MjZ6%0D%0AIi8+DQoJPHBhdGggZD0iTTI1MS4yNjksODUuNjExYzAuMjE4LDAuNDg2LDAuNTQ0LDAuOTU4LDAu%0D%0AOTI3LDEuNDI0YzMwLjExLDIuOTc5LDU3LjY0NCwxNC44NDksNzkuOTQxLDMyLjkzNQ0KCQljMi4w%0D%0AMDktMC4xMzYsNS4xNi0xLjIxOCw4LjY4OS05LjgwM2M4LjgyOC0yMS40NjctMC43NDUtNjYuNTc0%0D%0ALTUuMTc4LTgyLjE0M2MtMS45ODEtNi45NTYtNi44MTEtMTEuMTA4LTEyLjkyMi0xMS4xMDgNCgkJ%0D%0AYy0yLjcxNCwwLTUuNTExLDAuOC04LjMxMiwyLjM3OGMtMTQuMTA4LDcuOTYzLTUyLjY1OSwzMy4z%0D%0AMjQtNjEuNDY0LDU0Ljc0MUMyNTEuNDUyLDc3LjY4MiwyNDkuOTQyLDgyLjY1MSwyNTEuMjY5LDg1%0D%0ALjYxMXoiLz4NCgk8cGF0aCBkPSJNMTQxLjY5MiwxMjAuNDYxYy0wLjAwMywwLjAwMi0wLjAwNCww%0D%0ALjAwNC0wLjAwNywwLjAwNmMyMi4yMTQtMTguMjExLDQ5LjY5Ni0zMC4yMTksNzkuNzgtMzMuMzU0%0D%0AaC0wLjAwMQ0KCQljMC4zOC0wLjQ2NywwLjcwMy0wLjk0MSwwLjkxOC0xLjQyN2MxLjMxMS0yLjk2%0D%0ANy0wLjIyNC03LjkyOC0xLjc0Mi0xMS41NjdjLTguOTM2LTIxLjQyMS00Ny42MDItNDYuNTQ5LTYx%0D%0ALjc0Ni01NC40MjMNCgkJYy0yLjc4NC0xLjU1LTUuNTYtMi4zMzYtOC4yNTItMi4zMzZjLTYuMTQ1%0D%0ALDAtMTAuOTgxLDQuMTc4LTEyLjkzNSwxMS4xNzZjLTQuMzQ1LDE1LjYwNy0xMy42NzEsNjAuNzk4%0D%0ALTQuNzUzLDgyLjE2OQ0KCQlDMTM2LjU0NywxMTkuMzE1LDEzOS43MDEsMTIwLjMzOSwxNDEuNjky%0D%0ALDEyMC40NjF6Ii8+DQoJPHBhdGggZD0iTTc0LjAzMywyMjEuNDg2YzMuNTQ0LDEuNDU3LDYuNTEs%0D%0AMi4xOTYsOC44MTcsMi4xOTZjMS41NDksMCwyLjkxNS0wLjUxLDQuMTk1LTEuNTQ1Yy0wLjAwMiww%0D%0ALjAyMS0wLjAwMywwLjA0My0wLjAwNSwwLjA2NA0KCQljMi45ODUtMzAuMDg0LDE0Ljg0NS01Ny41%0D%0AOTIsMzIuOTEyLTc5Ljg3NmMwLDAuMDAxLDAsMC4wMDEsMCwwLjAwMWMtMC4wNTgtMC42NDItMC4x%0D%0ANy0xLjI0MS0wLjM3My0xLjc2OA0KCQljLTEuMTcxLTMuMDI1LTUuNzY1LTUuNDQ4LTkuNDEyLTYu%0D%0AOTQ4Yy01LjgxMi0yLjM5LTEzLjg4OS0zLjYwMi0yNC4wMDctMy42MDJjLTI2LjkwMywwLTU3Ljgz%0D%0ALDguNjk0LTU4LjEzOSw4Ljc4Mg0KCQljLTQuOTc4LDEuNDE3LTguNjAxLDQuMzM1LTEwLjE5Niw4%0D%0ALjIxNWMtMS41OTYsMy44OC0xLjA3NCw4LjUwMywxLjQ2OSwxMy4wMTZDMjcuMjU1LDE3NC4xMjks%0D%0ANTIuNjE3LDIxMi42OCw3NC4wMzMsMjIxLjQ4NnoiLz4NCgk8cGF0aCBkPSJNMzkxLjQ2MywyMjIu%0D%0AODgzYzIuMzEzLDAsNS4yOTQtMC43NTQsOC44NTgtMi4yNDFjMjEuNDE4LTguOTM4LDQ2LjU0NS00%0D%0ANy42MDMsNTQuNDItNjEuNzQ3DQoJCWMyLjUyLTQuNTI2LDMuMDE4LTkuMTUsMS40MDItMTMuMDIz%0D%0AYy0xLjYxNi0zLjg3Mi01LjI1My02Ljc3MS0xMC4yNDItOC4xNjRjLTAuMzAyLTAuMDg0LTMwLjc3%0D%0ANC04LjQ4MS01Ny41MjctOC40ODENCgkJYy0xMC40MjQsMC0xOC43MTYsMS4yNTQtMjQuNjQ0LDMu%0D%0ANzI4Yy0zLjYzOSwxLjUxOC04LjIyLDMuOTY0LTkuMzc1LDYuOTk2Yy0wLjIsMC41MjQtMC4zMDks%0D%0AMS4xMjEtMC4zNjIsMS43Ng0KCQljMTguMTgsMjIuMTg4LDMwLjE3NCw0OS42MjYsMzMuMzIyLDc5%0D%0ALjY2MkMzODguNTg2LDIyMi4zODYsMzg5LjkzNywyMjIuODgzLDM5MS40NjMsMjIyLjg4M3oiLz4N%0D%0ACgk8cGF0aCBkPSJNNDAwLjQwMywyNTIuOTUxYy0zLjU0NC0xLjQ1Ny02LjUxMS0yLjE5Ni04Ljgx%0D%0ANi0yLjE5NmMtMS41NDcsMC0yLjkxMiwwLjUwOC00LjE5LDEuNTQyDQoJCWMwLjAwNC0wLjAzOCww%0D%0ALjAwNi0wLjA3NiwwLjAxLTAuMTEzYy0yLjk3NywzMC4xMDUtMTQuODQsNTcuNjMyLTMyLjkxNyw3%0D%0AOS45MjljMC4wNTgsMC42NDMsMC4xNjksMS4yNDEsMC4zNzMsMS43NjgNCgkJYzEuMTcxLDMuMDI1%0D%0ALDUuNzY0LDUuNDQ4LDkuNDEsNi45NDhjNS44MTIsMi4zODksMTMuODg5LDMuNjAxLDI0LjAwNywz%0D%0ALjYwMWMyNi45ODMsMCw1Ny44MjgtOC42OTMsNTguMTM3LTguNzgxDQoJCWM0Ljk4MS0xLjQxOCw4%0D%0ALjYwNC00LjMzNiwxMC4xOTktOC4yMTZjMS41OTYtMy44OCwxLjA3My04LjUwMy0xLjQ3LTEzLjAx%0D%0AN0M0NDcuMTgxLDMwMC4zMDgsNDIxLjgxOSwyNjEuNzU3LDQwMC40MDMsMjUyLjk1MXoiLz4NCgk8%0D%0AcGF0aCBkPSJNMzMyLjc1MSwzNTMuOTc1YzAuMDAyLTAuMDAxLDAuMDA0LTAuMDAzLDAuMDA2LTAu%0D%0AMDA1Yy0yMi4yMTUsMTguMjEyLTQ5LjY5OCwzMC4yMjEtNzkuNzgzLDMzLjM1NQ0KCQljLTAuMzgx%0D%0ALDAuNDY4LTAuNzA0LDAuOTQxLTAuOTE5LDEuNDI4Yy0xLjMxMiwyLjk2OCwwLjIyNCw3LjkyOSwx%0D%0ALjc0MiwxMS41NjhjOC45MTcsMjEuMzcsNDcuNTk4LDQ2LjUzMiw2MS43NDksNTQuNDI0DQoJCWMy%0D%0ALjc4LDEuNTQ3LDUuNTU3LDIuMzMyLDguMjQ5LDIuMzMyYzYuMTQ3LDAsMTAuOTgyLTQuMTc4LDEy%0D%0ALjkzNi0xMS4xNzVjNC4zNDQtMTUuNjA3LDEzLjY2OS02MC44MDIsNC43NTQtODIuMTcyDQoJCUMz%0D%0AMzcuODk0LDM1NS4xMjgsMzM0Ljc0MSwzNTQuMDk5LDMzMi43NTEsMzUzLjk3NXoiLz4NCgk8cGF0%0D%0AaCBkPSJNMjIzLjE2OCwzODguODI3Yy0wLjIxOC0wLjQ4Ni0wLjU0My0wLjk1Ny0wLjkyNi0xLjQy%0D%0AM2MwLDAsMC4wMDEsMCwwLjAwMiwwYy0zMC4xMTEtMi45OC01Ny42NDUtMTQuODUtNzkuOTQ0LTMy%0D%0ALjkzNw0KCQljLTIuMDA5LDAuMTM3LTUuMTYsMS4yMi04LjY4OSw5LjgwM2MtOC44MjYsMjEuNDY2%0D%0ALDAuNzQ3LDY2LjU3NSw1LjE4LDgyLjE0NWMxLjk4LDYuOTU2LDYuODExLDExLjEwOCwxMi45MjIs%0D%0AMTEuMTA4DQoJCWMyLjcxNCwwLDUuNTEtMC44LDguMzExLTIuMzc4YzE0LjEwOC03Ljk2Myw1Mi42%0D%0ANTgtMzMuMzI0LDYxLjQ2My01NC43NDFDMjIyLjk4NiwzOTYuNzU3LDIyNC40OTUsMzkxLjc4OCwy%0D%0AMjMuMTY4LDM4OC44Mjd6Ii8+DQoJPHBhdGggZD0iTTgyLjk3NiwyNTEuNTU1Yy0yLjMxMywwLTUu%0D%0AMjk0LDAuNzU0LTguODU4LDIuMjQxYy0yMS4zNyw4LjkxNy00Ni41MzIsNDcuNTk4LTU0LjQyNCw2%0D%0AMS43NQ0KCQljLTIuNTE3LDQuNTIyLTMuMDE1LDkuMTQ2LTEuNCwxMy4wMThjMS42MTYsMy44NzMs%0D%0ANS4yNTQsNi43NzMsMTAuMjQ0LDguMTY3YzAuMywwLjA4MywzMC43NzQsOC40ODEsNTcuNTI3LDgu%0D%0ANDgxDQoJCWMxMC40MjMsMCwxOC43MTQtMS4yNTQsMjQuNjQyLTMuNzI3YzMuNjM4LTEuNTE4LDgu%0D%0AMjE4LTMuOTY1LDkuMzc0LTYuOTk3YzAuMjAxLTAuNTI2LDAuMzA5LTEuMTI0LDAuMzYzLTEuNzY0%0D%0ADQoJCWMtMTguMTc4LTIyLjE4Ny0zMC4xNy00OS42MjQtMzMuMzE5LTc5LjY1N0M4NS44NTQsMjUy%0D%0ALjA1Miw4NC41MDIsMjUxLjU1NSw4Mi45NzYsMjUxLjU1NXoiLz4NCgk8cGF0aCBkPSJNNzEuMTUz%0D%0ALDExMC42OThjNC45NzQtMC40MjksMTAuMDI3LTAuNjg5LDE1LjAwNS0wLjY4OWMxMC4yNzMsMCwx%0D%0AOS4xNTEsMS4xMzYsMjYuNTM0LDMuMzQ0DQoJCWMtMy44MDMtMTIuNDc3LTQuMDYtMjcuODcyLTIu%0D%0AODQ4LTQyLjQxOGMtMTEuMzU2LTIuNzA1LTIxLjY4My00LjM4OC0yNy43ODktNS4xMTFjLTAuODI4%0D%0ALTAuMDk4LTEuNjQ5LTAuMTQ4LTIuNDQzLTAuMTQ4DQoJCWMtNC40MzYsMC04LjEwNSwxLjQ5MS0x%0D%0AMC42MTIsNC4zMTJjLTIuNjIxLDIuOTUtMy43NDksNy4yMzctMy4xNzcsMTIuMDY5QzY2LjU3LDg4%0D%0ALjMxNyw2OC4zMjcsOTkuMDEsNzEuMTUzLDExMC42OTh6Ii8+DQoJPHBhdGggZD0iTTg2LjA2NCwz%0D%0ANjUuMjExYy01LjAyMSwwLTEwLjExMS0wLjI2LTE1LjExMi0wLjY4NmMtMi43MTQsMTEuMzgzLTQu%0D%0ANDAyLDIxLjczOC01LjEyNywyNy44NTUNCgkJQzY1LjI1MiwzOTcuMjE0LDY2LjM4LDQwMS41LDY5%0D%0ALDQwNC40NWMyLjUwNiwyLjgyMSw2LjE3Nyw0LjMxMiwxMC42MTQsNC4zMTJjMC43OTQsMCwxLjYx%0D%0ANi0wLjA1LDIuNDQ0LTAuMTQ4DQoJCWM2LjI0OC0wLjc0NCwxNi45MTQtMi40OTYsMjguNTc3LTUu%0D%0AMzE0Yy0xLjIwNS0xNC4yNzQtMC45NjQtMjkuMjk5LDIuNjkyLTQxLjU0M0MxMDUuNzg0LDM2NC4w%0D%0ANSw5Ni42NDQsMzY1LjIxMSw4Ni4wNjQsMzY1LjIxMXoiDQoJCS8+DQo8L2c+DQo8L3N2Zz4NCg==);     */
  /* -webkit-animation: rotating 16s linear infinite; */
  animation: rotating 16s linear infinite;
  /* z-index: 2; */
}

@keyframes animation_wolke {
  0% {
    left: 10vw;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    left: 70vw;
    opacity: 0;
  }
}

.wolke1 {
  position: absolute;
  left: 10rem;
  top: 1rem;
  animation: animation_wolke 19s infinite linear;
  width: 15%;
}
.wolke2 {
  position: absolute;
  right: 10rem;
  top: 33%;
  animation: animation_wolke 15s infinite linear;
  width: 15%;
}
.wolke3 {
  position: absolute;
  right: 15rem;
  top: 60%;
  animation: animation_wolke 25s infinite linear;
  width: 15%;
}

.baum1 {
  position: absolute;
  right: 30%;
  /* top: 62%; */
  /* margin: 0 auto;     */
  bottom: 53%;
  width: 15%;
}
.baum2 {
  position: absolute;
  left: 0;
  /* top: 62%; */
  /* margin: 0 auto;     */
  bottom: 3rem;
  width: 18%;
}
.baum3 {
  position: absolute;
  right: 10rem;
  /* top: 62%; */
  /* margin: 0 auto;     */
  bottom: 60%;
}
.baum4 {
  position: absolute;
  right: 1%;
  /* top: 62%; */
  /* margin: 0 auto;     */
  bottom: 58%;
  width: 15%;
}
.baum5 {
  position: absolute;
  left: 4.2rem;
  /* top: 62%; */
  /* margin: 0 auto;     */
  bottom: 3rem;
  width: 10%;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

@media (min-width: 768px) {
  .top_container {
    /* background-color: goldenrod; */
    height: calc(65vh);
  }
  .title {
    font-size: 3.5rem;
  }
  .title_description {
    font-size: 2rem;
  }

  .azaditurm {
    left: 15%;
    /* top: 63%; */
    /* transform: translate(-50%, -50%); */
    margin: 0 auto;
    width: 35%;
    bottom: 50%;
  }
  .brandenburg {
    right: 15%;
    width: 30%;
    bottom: 48%;
  }
  .wolke1,
  .wolke2,
  .wolke3 {
    /* top: 60%; */
    width: 8%;
  }
  .baum1 {
    position: absolute;
    right: 40%;
    /* top: 62%; */
    /* margin: 0 auto;     */
    bottom: 60%;
    width: 6%;
  }
  .baum2 {
    position: absolute;
    left: 15%;
    /* top: 62%; */
    /* margin: 0 auto;     */
    bottom: 3rem;
    width: 6%;
  }
  .baum3 {
    position: absolute;
    right: 25rem;
    /* top: 62%; */
    /* margin: 0 auto;     */
    bottom: 60%;
    width: 8%;
  }
  .baum4 {
    position: absolute;
    right: 13%;
    /* top: 62%; */
    /* margin: 0 auto;     */
    bottom: 58%;
    width: 7%;
  }
  .baum5 {
    position: absolute;
    left: 20%;
    /* top: 62%; */
    /* margin: 0 auto;     */
    bottom: 3rem;
    width: 5%;
  }
  .sonne {
    top: 20%;
    right: 15%;
  }
}
