/* // $pink: #ff3466;
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
// body {
//   background: #424B54;
//   font-family: 'Source Sans Pro', sans-serif;
//   overflow: hidden;
// }

// form {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   width: 100%;
//   height: 100vh;
// }

// input {
//   border: none;
//   width: 170px;
//   height: 25px;
//   outline: none;
//   padding-left: 10px;
// } */

:root {
  --main-bg-color: #f1f1f1;
  --positionX: attr(positionX px);
  --positionY: attr(positionY px);
}

.tooltip {
  position: absolute;  
  /* background: red;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  color: yellow; */  
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  /* opacity: 0; */
  /* transition: all 0.4s ease; */
  /* transition-delay: 2s; */
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: var(--main-bg-color) transparent transparent transparent;
  top: -90px;
  transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: var(--main-bg-color);
  color: #000;
  width: 130px;
  height: 35px;
  font-size: 13px;
  font-weight: 300;
  top: -150px;
  left: -30px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}
.tooltip-toLeft:after { 
  left: var(--positionX);
}

.tooltip:before,
.tooltip:after {
  /* // opacity: 1; */
  /* // transform: translateY(-2px); */
  animation: fadeIn 300ms ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-2px);
  }
}

@keyframes shake {
  0% { 
    transform: rotate(2deg);
  }
  50% {
   transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#anim {
  animation: shake 400ms ease-in-out forwards;
  animation-delay: 300ms;
}