.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  position: relative;
}
#note__header{
  background: #8ac4d0;
  border-radius: 2px;
  padding: 5px 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 5%; 
  position: relative;
  display: inline-block;
  cursor: move;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  /* margin-right: 10px; */
  color: #31326f;
  border: none;
  /* width: 36px; */
  /* height: 36px; */
  cursor: pointer;
  padding: 0;
  outline: none;
  background-color: transparent;  
}

.note__icon{
  filter:drop-shadow(1px 1px 0 #e4e4ff);
}
